div input{
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
   
    height: 30px;
}
input{
    width: 40%;
    height: 50%;
    border-radius: 5%;
    
}
input:hover{
    background-color: aquamarine;
}
.welcome{
    display: flex;
    justify-content: space-between;
}
.welcomesection,.formsection{
    width:50%;
    padding: 30px;
}
.welcomesection{
    background-color:cornflowerblue;
    align-items: center;
    

}

